@import "tailwindcss";

@layer base {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
  }
}

@layer utilities {
  .container {
    margin: auto;
  }
}

@layer components {
  .text_input {
    @apply border text-blue-400 py-1 border-gray-300/30 rounded-xl px-4 focus:outline-none focus:shadow-sm focus:shadow-blue-400/30;
  }

  .text_label {
    @apply text-gray-400 font-bold capitalize;
  }

  .btn {

    @apply px-4 py-1 text-center cursor-pointer rounded-md hover:scale-105 active:scale-95 transition-transform duration-150;

  }

  .btn--primary {
    @apply bg-blue-400 text-white
  }

  .btn--outline {
    @apply border border-gray-400/30 bg-white text-gray-400
  }

  .btn--warning {
     @apply bg-yellow-600 text-white
  }
}
